---
---

@import "{{ site.theme }}";

$footer: $conifer !default;

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $conifer; //header;
  padding: 20px 0;
  margin: 0 0 40px 0;
}