---
---

$conifer: #b5e853;

@import "{{ site.theme }}";

$footer: $conifer;

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $conifer;
}

.page-content #main_content h2 {
  font-size: 28px; /* theme default is 24px, h1 is 30 */
}